---
layout: base-layout.njk
pagination:
  data: collections.test
  size: 10
  reverse: true
  alias: tests
pagetitle: Tous les tests d'objets
pagedesc: Pour chaque objet testé, une description de l'objet et de la méthode de mesure précédera les résultats et leur interprêtation.
---
<section>
  <h1>{{ pagetitle }}</h1>
  <p>{{ pagedesc }}</p>
</section>

{% for test in tests %}
  <article class="list">
    <a href="{{ test.url | url }}">{% image "./images/" + test.data.img, "Image représentant " + test.data.title, "192w", 192, false if loop.first else true %}</a>
    <h1>
      <a href="{{ test.url | url }}">{{ test.data.pagetitle }}</a>
    </h1>
    <p><time datetime="{{ test.date | dateIso }}">{{ test.date | dateReadable }}</time> — {{ test | timeToRead }} de lecture</p>
    <p>{{ test.page.excerpt }}</p>
   </article>
{% endfor %}
{% if pagination.hrefs.length > 1 %}
<nav id="pages">
  {% if pagination.href.previous %}<a href="{{ pagination.href.previous }}"><span>‹</span><div>Page précédente</div></a>{% else %}<div></div>{% endif %}
  <a><div>page {{ pagination.pageNumber + 1 }} sur {{ pagination.hrefs.length }}</div></a>
  {% if pagination.href.next %}<a href="{{ pagination.href.next }}"><div>Page suivante</div><span>›</span></a>{% else %}<div></div>{% endif %}
</nav>
{% endif %}
