---
layout: base-layout.njk
pagination:
  data: collections.test
  size: 100
  reverse: true
  alias: tests
pagetitle: Tous les tests d'objets
---
{% for test in tests %}
  <article class="list">
    <a href="{{ test.url | url }}">{% image "./images/" + test.data.img, "Image représentant " + test.data.title, "192w", 192 %}</a>
    <h1>
      <a href="{{ test.url | url }}">Combien consomme {{ test.data.title }} ?</a>
    </h1>
    <time datetime="{{ test.date | dateIso }}">{{ test.date | dateReadable }}</time>
    <p>{{ test.page.excerpt }}</p>
   </article>
{% endfor %}
