<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>{{pagetitle}} - combien-consomme.fr</title>
    <meta name="twitter:title" content="{{pagetitle}}">
    <meta property="og:title" content="{{pagetitle}}">
{% if pagedesc %}
    <meta name="description" content="{{pagedesc}}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{pagedesc}}">
    <meta property="og:url" content="{{page.url | absoluteUrl(site.url)}}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="{{pagedesc}}">
{% endif %}
{% if img %}
    <meta property="og:image" content="{% img img | url %}">
    <meta name="twitter:image" content="{% img img | url %}">
{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% if linkFeed %}
    <link rel="alternate" type="application/atom+xml" href="{{ '/feed.xml' | url }}" title="Tous les contenus de combien-consomme.fr">
{% endif %}
{#
    <meta name="msapplication-config" content="/browserconfig.xml"><link rel="manifest" href="/site.webmanifest">

    <link rel="icon" href="favicon/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">

    <meta name="theme-color" content="#ffffff">

    <meta name="author" content="Florian Quèze">
    <meta name="copyright" content="combien-consomme.fr">
    <meta name="application-name" content="combien-consomme.fr"

    <meta name="keywords" content="consommation, puissance, énergie, électricité, watt, kwh, mesure, mesurer, wattmètre, coût">
#}
  </head>
  <body>
<header{% if isDraft %} class="draft-header"{% endif %}>
  <a href="/" role="button"><h3>combien-consomme.fr</h3></a>
  <ul>
    {%- if site.isDev %}
    <li><a href="/draft/" id="drafts-link">Brouillons</a></li>
    {%- endif %}
    <li><a href="{{ '/tests/' | url }}">Tests</a></li>
    <li><a href="{{ '/posts/' | url }}">Articles</a></li>
    <li><a href="{{ '/about/' | url }}">À propos</a></li>
  </ul>
</header>
{{ content | safe }}<div id="Footer">
  <h3>combien-consomme.fr</h3>
  <div>© 2024 — 2025 par F. Quèze, licence <a href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank" rel="license noopener noreferrer">CC BY-NC 4.0{% image "https://mirrors.creativecommons.org/presskit/icons/cc.svg", "CC", "22w" %}{% image "https://mirrors.creativecommons.org/presskit/icons/by.svg", "BY", "22w" %}{% image "https://mirrors.creativecommons.org/presskit/icons/nc.svg", "NC", "22w" %}</a>. Certaines images ont été générées par <a href="https://hotpot.ai/art-generator">Hotpot.ai</a>.</div>
</div>
<!-- 0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyzœéèàùëêîïçÉÈÀÇ,.;:!?=+<>°()-_@%€«»‹›'’‘"“”©… %C2%A0 = nbsp -->
<!-- <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Bai+Jamjuree:400|Nunito+Sans:400&display=optional&text=0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz%C5%93%C3%A9%C3%A8%C3%A0%C3%B9%C3%AB%C3%AA%C3%AE%C3%AF%C3%A7%C3%89%C3%88%C3%80%C3%87%2C.%3B%3A%21%3F%3D%2B%3C%3E%C2%B0%28%29-_%40%25%E2%82%AC%C2%AB%C2%BB%E2%80%B9%E2%80%BA%27%E2%80%99%E2%80%98%22%E2%80%9C%E2%80%9D%C2%A9%E2%80%A6%C2%A0">-->
{% set js %}{% include "_includes/stats.js" %}{% endset %}
<script>{{ js | jsmin | safe }}</script>
</body></html>
