---
layout: base-layout.njk
eleventyComputed:
  pagetitle: "{{ title }}"
  pagedesc: "{{ page.excerpt | stripTestPostLinks | trim }}"
---
<article>
<h1>{{ title }}</h1> 
<p><time datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time> — {{ content | timeToRead }} de lecture</p>
{{ content | safe }}
</article>
{% set previous = collections.post | getPreviousCollectionItem(page) %}
{% set next = collections.post | getNextCollectionItem(page) %}
<div id="np">
{% if previous %}<a href="{{ previous.url | url }}"><span title="Article précédent">‹</span>{% image "./images/" + previous.data.img, "Image représentant l'article " + previous.data.title, "64w", 64 %}<div>{{ previous.data.pagetitle }}</div></a>{%else %}<div></div>{% endif %}{% if next %}<a href="{{ next.url | url }}">{% image "./images/" + next.data.img, "Image représentant l'article " + next.data.title, "64w", 64 %}<div>{{ next.data.pagetitle }}</div><span title="Article suivant">›</span></a>{% endif %}
</div>
