---
layout: base-layout.njk
eleventyComputed:
  pagetitle: "Combien consomme {{ title }}"
  pagedesc: "{{ page.excerpt | trim }}"
---
<article>
<h1>Combien consomme {{ title }}</h1> 
<time datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time> 
{{ content | safe }}</article>