---
layout: base-layout.njk
pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
pagetitle: Tous les articles
pagedesc: Ici, on expliquera les méthodes utilisées pour mesurer la consommation, et d'autres réflexions sur les façons d'économiser de l'énergie.
---
<section>
  <h1>{{ pagetitle }}</h1>
  <p>{{ pagedesc }}</p>
</section>

{% for post in posts %}
  <article class="list">
    <a href="{{ post.url | url }}">{% if post.data.img %}{% image "./images/" + post.data.img, "Image représentant l'article " + post.data.title, "192w", 192, false if loop.first else true  %}{% else %}{% image "./images/hp-missing.png", "Image générique", "192w", 192, false if loop.first else true %}{% endif %}</a>
    <h3>
      <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    </h3>
    <p><time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time> — {{ post | timeToRead }} de lecture</p>
    <p>{{ post.page.excerpt | renderString | safe }}</p>
  </article>
{% endfor %}
{% if pagination.hrefs.length > 1 %}
<nav id="pages">
{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}"><span>‹</span><div>Page précédente</div></a>{% else %}<div></div>{% endif %}<a><div>page {{ pagination.pageNumber + 1 }} sur {{ pagination.hrefs.length }}</div></a>{% if pagination.href.next %}<a href="{{ pagination.href.next }}"><div>Page suivante</div><span>›</span></a>{% else %}<div></div>{% endif %}
</nav>
{% endif %}
